# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
*.log
*.dvi
*.ps
*.aux
*.mtc0
*.maf
*.mtc
*.toc
*.xls
*.xlsx
PROF/Toute une année de cours/Céline - Latex/Divers/
PROF/Toute une année de cours/Céline - Latex/Rentrée/Livres
PROF/Collège JEAN VILAR/A imprimer
PROF/Collège JEAN VILAR/Année 2015-2016/a Trier
PROF/Collège JEAN VILAR/Année 2015-2016/LIVRES
PROF/Collège JEAN VILAR/Année 2015-2016/TP
PROF/Collège JEAN VILAR/Année 2016-2017/A trier
PROF/Collège JEAN VILAR/*.pdf
